/* ======= Car Details style ======= */
.car-details {
  position: relative;
}
.car-details h3 {
  color: #fff;
  font-size: 21px;
}
.car-details .sidebar-car {
  position: relative;
  display: block;
  padding: 0;
  background: #222;
  border-radius: 20px;
  margin-top: -225px;
  z-index: 9;
}
.car-details .sidebar-car .title {
  position: relative;
  background-color: #f5b754;
  padding: 35px 30px 25px 30px;
  border-radius: 20px 20px 0 0;
  text-align: center;
}
.car-details .sidebar-car .title h4 {
  font-family: "Outfit", sans-serif;
  font-size: 32px;
  line-height: 1.2em;
  color: #1b1b1b;
  font-weight: 700;
  margin: 0;
}
.car-details .sidebar-car .title h4 > span {
  font-family: "Outfit", sans-serif;
  margin-bottom: 0;
  font-size: 14px;
  color: #1b1b1b;
  font-weight: 300;
}
.car-details .sidebar-car .item {
  padding: 30px;
}
.car-details .sidebar-car .item .features {
  padding: 15px 0;
  display: grid;
  grid-template-columns: 50% 50%;
}
.car-details .sidebar-car .item .features span {
  color: #999;
}
.car-details .sidebar-car .item .features span i {
  color: #f5b754;
  margin-right: 10px;
  font-size: 14px;
  background: #333;
  padding: 10px;
  border-radius: 100%;
}
.car-details .sidebar-car .item .features p {
  margin-bottom: 0px;
  color: #fff;
  text-align: right;
}

[data-overlay-dark]:before {
  background: #000;
  opacity: 0.5;
}

.v-middle {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 10%;
  -webkit-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
  z-index: 9;
}

/* double button */
.btn-double {
    position: relative;
    text-align: center;
    margin: 10px 0;
    font-family: 'Outfit', sans-serif;
    font-size: 14px;
    font-weight: 300;
}
.btn-double:before {
    content: attr(data-grouptype);
    color: #fff;
    font-weight: 300;
    display: block;
    font-size: 12px;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background: #333;
    position: absolute;
    left: 50%;
    top: 15px;
    margin-left: -28px;
    line-height: 28px;
    text-align: center
}
.btn-double > a + a {
    margin-left: 0px;
}
.btn-double > a {
    display: inline-block;
    font-size: 14px;
    text-decoration: none;
    transition: color .3s ease;
}
.btn-double > a span {
    font-size: 17px;
    margin-right: 2px;
}
.btn-double > a:nth-of-type(1) {
    background: #f5b754;
    color: #1b1b1b;
    border-radius: 30px 0 0 30px;
    padding: 15px 27px;
}
.btn-double > a:nth-of-type(1):hover {
    background: #fff;
    color: #1b1b1b;
}
.btn-double > a:nth-of-type(2) {
    background: #f5b754;
    color: #1b1b1b;
    border-radius: 0 30px 30px 0;
    padding: 15px 27px;
}
.btn-double > a:nth-of-type(2):hover {
    background: #fff;
    color: #1b1b1b;
}


/* ======= Banner Header style ======= */
.banner-header {
  height: 70vh;
  background-position: center;
  position: relative; /* Để phần tử con .cover-image có thể dựa trên phần tử cha .banner-header */
}

.cover-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1b1b1b;
  opacity: 0.5;
}

.banner-header.middle-height {
  min-height: 80vh;
}
.banner-header.full-height {
  min-height: 100vh;
}
.banner-header[data-overlay-dark] h6,
.banner-header h6 {
  font-size: 10px;
  line-height: 10px;
  font-family: "Outfit", sans-serif;
  font-weight: 300;
  color: #f5b754;
  margin-bottom: 15px;
  position: relative;
  display: inline-block;
  z-index: 1;
  text-transform: uppercase;
  letter-spacing: 6px;
}
.banner-header h1 {
  font-size: 42px;
  color: #1b1b1b;
  position: relative;
  line-height: 1.25em;
  margin-bottom: 0;
}
.banner-header h1 span {
  color: #f5b754;
}
.banner-header p {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 0;
  color: #1b1b1b;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
.banner-header .post-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #1b1b1b;
  font-size: 14px;
  margin-bottom: 15px;
}
.banner-header .post-wrapper a {
  color: #fff;
  font-size: 14px;
  font-weight: 300;
}
.banner-header .post-wrapper .divider {
  width: 20px;
  height: 1px;
  margin-right: 15px;
  margin-left: 15px;
  background-color: #f5b754;
}

@media screen and (max-width: 991px) {
  .banner-header h1 {
    font-size: 42px;
  }
}

/* details */
.mb-30 {
  margin-bottom: 30px !important;
}

p {
  font-family: "Outfit", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.95em;
  color: #999;
  margin-bottom: 15px;
}

.gallery-box .gallery-img {
    position: relative;
    overflow: hidden;
    transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);   
    border-radius: 20px;
}
.gallery-box .gallery-img:after {
    content: " ";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
    overflow: hidden;
    -webkit-transition: all .5s;
    transition: all .5s;
}
.gallery-box .gallery-img > img {
    transition: all 0.3s cubic-bezier(0.3, 0.1, 0.58, 1);
    border-radius: 0;
    -webkit-transition: all .5s;
    transition: all .5s;
}
.gallery-box:hover .gallery-img > img{
    -webkit-filter: none;
    filter: none;
    -webkit-transform: scale(1.09, 1.09);
    transform: scale(1.09, 1.09);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}
.gallery-box .gallery-detail {
    position: absolute;
    opacity: 0;
    transform: translateX(-20px);
    transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
    padding: 30px 20px;
    bottom: 0;
}
.gallery-box .gallery-detail h4 {
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    margin-bottom: 0;
}
.gallery-box .gallery-detail p {
    color: #f5b754;
    margin-bottom: 0;
}
.gallery-box:hover .gallery-detail {
    opacity: 1;
    transform: translateX(0px);
}

.accordion-box {
    position: relative;
    padding: 0px;
}
.accordion-box .block {
    position: relative;
    background: #222;
    overflow: hidden;
    margin-bottom: 15px;
    border-radius: 20px;
}
.accordion-box .block.active-block {}
.accordion-box .block:last-child {
    margin-bottom: 0;
}
.accordion-box .block .acc-btn {
    position: relative;
    font-size: 16px;
    line-height: 15px;
    font-weight: 700;
    cursor: pointer;
    padding: 30px;
    padding-right: 60px;
    color: #fff;
    transition: all 500ms ease;
    font-family: 'Outfit', sans-serif;
}
.accordion-box .block .acc-btn .count {
    color: #f5b754;
    padding-right: 5px;
    font-weight: 700;
    font-family: 'Outfit', sans-serif;
    font-size: 16px;
}
.accordion-box .block .acc-btn.active .count {
    color: #1b1b1b;
}

.accordion-box .block .acc-btn.active {
    background-color: #f5b754;
    color: #1b1b1b;
}
.accordion-box .block .acc-btn.active:before {
    color: #1b1b1b;
    font-family: "themify";
    content: "\e64b";
}
.accordion-box .block .acc-content {
    position: relative;
    /* display: none; */
}
.accordion-box .block .content {
    position: relative;
    padding: 30px;
    color: #1b1b1b;
    border-radius: 0px 0px 20px 20px;
}
.accordion-box .block .acc-content.current {
    display: block;
}
.accordion-box .block .content .text {
    display: block;
    position: relative;
    top: 0px;
    color: #999;
}
